$aqua : #99E1D9;
$pink : #F7567C;
$black : #5D576B;
$white : #FCFCFC;
$beige : #FFFAE3;

body {
  text-align: center;
  background: $black;
  font-size: 16px;
  color: $aqua;

  h1, h2, h3, label {
    font-weight: 900;
  }

  .inverted-colors {
    background: $aqua;
    color: $black;
  }

  #search {
    font-weight: 900;
  }

}
